
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

block reduced_footer
  .fixed-bottom.px-3.py-2.align-content-end.d-flex.flex-row-reverse
    include socials.jade
  .bg-light.d-flex.flex-wrap.col-12.w-100.text-dark.border-top.border-3(style='min-height:200px')
    .col-12.col-md-5.ps-5.pt-3
      h5 About Me
      p
        | Thanks for taking the time! My name is Aiden, a software engineer living in sunny Manchester. Feel free to have a look around, and if you like what you see I'm always available for a chat on LinkedIn! (Self promotion, eh?)
        br
        br
        | Out of the office, I enjoy writing and performing music, rock climbing (as all good tech-bros do), reading, and exploring what the city has to offer. If you're looking to touch base and grab a coffee feel free to reach out!
        br
    .col-12.col-md-3.col-lg-2.mb-3.mt-5.mx-auto.text-center
      h5 Site Pages
      ul.list-unstyled
        li.mb-2.nav-link
          a.fw-light.text-decoration-none(href='/') Homepage
        li.mb-2.nav-link
          a.fw-light.text-decoration-none(href='/controller/Articles') Articles
        li.mb-2.nav-link
          a.fw-light.text-decoration-none(href='/controller/Projects') Projects
        li.mb-2.nav-link
          a.fw-light.text-decoration-none(href='/#experience_link') Work Experience
        li.mb-2.nav-link
          a.fw-light.text-decoration-none(href='/controller/Resume') Resume
        li.mb-2.nav-link
          a.fw-light.text-decoration-none(href='') Contact Me
