style.
  .nav-btn-cstm {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  }
section#splash_header.content.mb-5.px-4(style='')
  nav.navbar.navbar-expand-lg.justify-content-end
    .container-fluid
      a.navbar-brand.fw-bolder.text-white.text-center.ms-4(href='/' style='font-size: 24px; line-height: 0.8;') Aiden Stevenson Bradwell
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#button_float' aria-controls='button_float' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #button_float.collapse.navbar-collapse(style='')
        ul.navbar-nav.ms-auto.mb-2.mb-lg-0.gap-4
          li.nav-item.mt-3.mt-lg-0
            a.h-100.btn.btn-outline-light.nav-btn-cstm.w-100.w-lg-auto(href='/controller/Projects') Projects
          li.nav-item
            a.h-100.btn.btn-outline-light.nav-btn-cstm.w-100.w-lg-auto(href='/.#experience_link') Work Experience
          li.nav-item
            a.h-100.btn.btn-outline-light.nav-btn-cstm.w-100.w-lg-auto(href='/controller/Resume') Resume & About Me
          li.nav-item
            a.h-100.btn.btn-outline-light.nav-btn-cstm.w-100.w-lg-auto(href='/controller/Articles') Essays & Articles
