block reduced_header
  nav.navbar.navbar-expand-lg.navbar-light.mt-0.pt-0
    .container-fluid.justify-content-end
      button.navbar-toggler.mt-1(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse.justify-content-end.mt-0.pt-0
        #button_float.d-flex.justify-content-end.mt-5.pb-3(style='max-width:800px')
          div(id='nav-item zeroth-btn')
            a.btn.btn-outline-light.fw-light.fw-bold(href='/') Home
          div(id='nav-item first-btn')
            a.btn.btn-outline-light.ms-5.fw-light(href='/Projects') Projects
          div(id='nav-item second-btn')
            a.btn.btn-outline-light.fw-light.ms-5(href='/WorkExperience') Work Experience
          div(id='nav-item third-btn')
            a.btn.btn-outline-light.fw-light.ms-5(href='/Resume') Resume/About me
          div(id='nav-item fourth-btn')
            a.btn.btn-outline-light.fw-light.ms-5(href='/Articles') Essays &amp; Articles
