
block socials
    link(rel="stylesheet", href="/stylesheets/socials.css")
    .d-flex
        a.fa.fa-linkedin.fa-1x( href='https://ca.linkedin.com/in/aiden-bradwell', target='_blank' title='www.linkedin.com/in/aiden-bradwell/')
        a.fa.fa-envelope.fa-1x(href='mailto:aidenbradwell@gmail.com' title='aidenbradwell@gmail.com')
        a.fa.fa-phone.fa-1x(href='tel:+447354829803' title='+44 (7354) 829-803')

