doctype html
html
  head
    title Aiden Stevenson Bradwell
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel="stylesheet", href="/css/bootstrap.min.css")
    
  body
    block content
