doctype html
html
    head
        title Aiden Stevenson Bradwell

        script(src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12")
        script(src='https://code.jquery.com/jquery-3.6.1.min.js', integrity='sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=', crossorigin='anonymous')
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM", crossorigin="anonymous")

        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css", integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi", crossorigin="anonymous")
        link(rel="stylesheet", href="/stylesheets/homepage.css")
        link(rel="stylesheet", href="/stylesheets/carousel.css")
        link(rel='stylesheet', href='/stylesheets/style.css')

        //- link(rel="stylesheet", href="/css/bootstrap.min.css")
  body.p-0.mx-0.mt-0(min-height="1000px")
    header
        include components\reduced_header.jade
    section#image_and_info.my-4
        .d-none.d-lg-flex.w-100.px-4.ms-5
            #image.col-12.col-lg-4.text-center
                img.border.border-3.shadow(style='width: 100%', src='/images/personal/headshot.jpeg')
            #info.col-12.col-lg-8.pe-5.ps-5.align-self-center
                .container.my-4.fw-bold.text-center
                h3 About Me
                p
                    | Thanks for taking the time! My name is Aiden, a software engineer living in sunny Manchester. Feel free to have a look around, and if you like what you see I'm always available for a chat on LinkedIn! (Self promotion, eh?)
                    br
                    br
                    | Out of the office, I enjoy writing and performing music, rock climbing (as all good tech-bros do), reading, and exploring what the city has to offer. If you're looking to touch base and grab a coffee feel free to reach out!
                    br
        .d-lg-none.d-block.w-100.px-4
            #image.mx-auto.text-center
                img.border.border-3.shadow.mt-3(style='width:400px; height:400px;', src='/images/personal/headshot.jpeg')
            #info.px-5
                h3 About Me
                p
                    | Thanks for taking the time! My name is Aiden, a software engineer living in sunny Manchester. Feel free to have a look around, and if you like what you see I'm always available for a chat on LinkedIn! (Self promotion, eh?)
                    br
                    br
                    | Out of the office, I enjoy writing and performing music, rock climbing (as all good tech-bros do), reading, and exploring what the city has to offer. If you're looking to touch base and grab a coffee feel free to reach out!
                    br
        hr.mb-0.pb-0
        section(style='')
            #splash_background.h-100
                .bg-white.col-12.col-lg-9.mx-auto.h-100(style='min-height:1000px;')
                    iframe(src='/resume/Aiden_Stevenson_Bradwell_Bolded_2024.pdf', width='100%', height='1200px')
                    p
                        i
                        | Resume not loading? Click 
                        a(href='/resume/Aiden_Stevenson_Bradwell_Bolded_2024.pdf', target='_blank') HERE
                        |  to open in new window!
   footer#footer.mt-5
        include components\footer.jade